<HTML>
        <link rel="stylesheet" type="text/css" href="stylesheets/cube.css" />
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css">
        <title>Cube Monitor</title>
        <table id="topbar">
            <td id="topbar-header">
               <i class="fa fa-cube"></i> Cube Monitor
            </td>
            <td id="topbar-left">
            </td>
            <td id="topbar-center">
            </td>
            <td id="topbar-right">
                <!-- <div class="topbar-login-dummy"></div> -->
            </td>
            </div>
            <div id="sidebar">
                <!-- <div class="sidebar-dummy"></div>
                <div class="sidebar-dummy"></div>
                <div class="sidebar-dummy"></div>
                <div class="sidebar-dummy"></div>
                <div class="sidebar-dummy"></div>
                <div class="sidebar-dummy"></div> -->
            </div>
            <div id="content">
                <div id="cube-monitor-heading">
                    Status of Cube02
                </div>
                <!-- <button id="bitconnect">BITCONNEEEEECT</button> -->
                <div id="cube-monitor-timeline">
                </div>
            </div>
            <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
                crossorigin="anonymous"></script>
            <script src="scripts/bundle.js"></script>
        </HTML>